In [1]:
import os, sys
# os.chdir(os.path.dirname(os.path.abspath(__file__)))
sys.path.append('../utils')
import pandas as pd
import numpy as np
from queryHelper import prodFetch, adbFetch
from databaseHelper import *
from sheetHelper import *
from datetime import timedelta
import psycopg2
import pygsheets as pg

In [3]:
dfTickets = adbFetch("""select date, EXTRACT(HOUR FROM created_at) AS hour, complainant_id, category_name from ticketModelNew where complainant_type = 'driver' and date between '20250201' and '20250331'""")

dfTickets

              date  hour complainant_id       category_name
0       2025-02-01     0        D108232        Swap History
1       2025-02-01     0         D79319  IoT Alert Outbound
2       2025-02-01     0         D73705  IoT Alert Outbound
3       2025-02-01     0        D107097        Swap History
4       2025-02-01     0         D14720       Vehicle Issue
...            ...   ...            ...                 ...
212969  2025-03-31    23        D109917           MCB Issue
212970  2025-03-31    23         D59308        Swap History
212971  2025-03-31    23         D97554       Status Change
212972  2025-03-31    23         D97554        Swap History
212973  2025-03-31    23         D36504             Battery

[212974 rows x 4 columns]

In [10]:
dateWiseTickets = dfTickets.groupby(['date', 'category_name', 'hour']).agg({
    'complainant_id': 'count'
}).reset_index()

dateWiseTickets

             date category_name  hour  complainant_id
0      2025-02-01           B2B     1               1
1      2025-02-01           B2B     7               2
2      2025-02-01           B2B    11               4
3      2025-02-01           B2B    12               2
4      2025-02-01           B2B    13               3
...           ...           ...   ...             ...
23867  2025-03-31    Wire Issue    18               6
23868  2025-03-31    Wire Issue    19               5
23869  2025-03-31    Wire Issue    20               4
23870  2025-03-31    Wire Issue    21               2
23871  2025-03-31    Wire Issue    23               3

[23872 rows x 4 columns]

In [ ]:
hourWiseTickets = dfTickets.groupby(['date', 'hour']).agg({
    'complainant_id': 'count',
}).reset_index()

hourWiseTickets

            date  hour  complainant_id
0     2025-02-01     0              28
1     2025-02-01     1              14
2     2025-02-01     2               6
3     2025-02-01     3               6
4     2025-02-01     4               6
...          ...   ...             ...
1385  2025-03-31    19             280
1386  2025-03-31    20             253
1387  2025-03-31    21             201
1388  2025-03-31    22             175
1389  2025-03-31    23              83

[1390 rows x 3 columns]

In [16]:
categoryWiseTickets = dfTickets.groupby(['category_name', 'hour']).agg({
    'complainant_id': 'count'
}).reset_index()

categoryWiseTickets

    category_name  hour  complainant_id
0             B2B     0              19
1             B2B     1               7
2             B2B     2               4
3             B2B     3               3
4             B2B     4               2
..            ...   ...             ...
824    Wire Issue    19             123
825    Wire Issue    20             139
826    Wire Issue    21             105
827    Wire Issue    22              66
828    Wire Issue    23              37

[829 rows x 3 columns]

In [14]:
write("https://docs.google.com/spreadsheets/d/1fiA-Ul2K3d8BG4BtkRqvjswgwGx0gpxLCsmNDiYIPGs/edit?gid=0#gid=0", "dateWiseTickets", dateWiseTickets)

Written successfully.

In [15]:
write("https://docs.google.com/spreadsheets/d/1fiA-Ul2K3d8BG4BtkRqvjswgwGx0gpxLCsmNDiYIPGs/edit?gid=0#gid=0", "hourWiseTickets", hourWiseTickets)

Written successfully.

In [18]:
write("https://docs.google.com/spreadsheets/d/1fiA-Ul2K3d8BG4BtkRqvjswgwGx0gpxLCsmNDiYIPGs/edit?gid=0#gid=0", "categoryWiseTickets", categoryWiseTickets)

Written successfully.